-
  const valuesSectionData = [
    {
      title: "Помощь детским <br>учреждениям",
      text: "Регулярно предоставляем <br>адресную финансовую помощь <br>детским дошкольным и <br>школьным образовательным учреждениям."
    },
    {
      title: "Поддержка социальных <br>программ",
      text: "Ежегодно предоставляем жителям Забайкальского края рабочие места и увеличиваем выплаты по налогам и сборам в местные бюджеты."
    },
    {
      title: "Защита окружающей <br>среды",
      text: "Выполняем требования природоохранного законодательства, рационально используем ресурсы и безопасно утилизируем отходы для минимизации воздействия на окружающую среду."
    },
    {
      title: "Помощь детским <br>учреждениям",
      text: "Регулярно предоставляем <br>адресную финансовую помощь <br>детским дошкольным и <br>школьным образовательным учреждениям."
    },
    {
      title: "Поддержка социальных <br>программ",
      text: "Ежегодно предоставляем жителям Забайкальского края рабочие места и увеличиваем выплаты по налогам и сборам в местные бюджеты."
    },
    {
      title: "Защита окружающей <br>среды",
      text: "Выполняем требования природоохранного законодательства, рационально используем ресурсы и безопасно утилизируем отходы для минимизации воздействия на окружающую среду."
    },
  ]

-
  const historySectionData = [
    {
      title: "2005",
      text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
    },
    {
      title: "2006",
      text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
    },
    {
      title: "2007",
      text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
    },
    {
      title: "2008",
      text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
    },
    {
      title: "2009",
      text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
    },
    {
      title: "2010",
      text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
    },
    {
      title: "2011",
      text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
    },
    {
      title: "2012",
      text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
    },
    {
      title: "2013",
      text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
    },
    {
      title: "2014",
      text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
    },
    {
      title: "2015",
      text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
    },
    {
      title: "2016",
      text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
    },
    {
      title: "2017",
      text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
    },
    {
      title: "2018",
      text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
    },
    {
      title: "2019",
      text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
    },
    {
      title: "2020",
      text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
    },
    {
      title: "2021",
      text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
    },
    {
      title: "2022",
      text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
    },
  ]


mixin section-slider(data, className)
  .section-slider(class=`section-slider--${className}` data-slider-container=`${className}`)
    .section-slider__swiper.swiper(data-slider=`${className}`)
      .swiper-wrapper
        - for (let i = 1; i < data.length + 1; i++)
          .swiper-slide.section-slider__item
            h3(class=className === "history" ? "heading-72" : "heading-4").section-slider__title!=data[i - 1].title
            p.text-14.section-slider__text!=data[i - 1].text
            .section-slider__pagination.nav-count(class=paginationMod, data-pagination)
              if i < 10
                span.caps-12.nav-count__current!="0" + i
              else
                span.caps-12.nav-count__current!=i
              span.caps-12.nav-count__del &nbsp;/&nbsp;
              if data.length < 10
                span.caps-12.nav-count__total!="0" + data.length
              else
                span.caps-12.nav-count__total!=data.length
    +slider-tools().section-slider__tools
